# **Importing Modules and Libraries**

In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

import pickle 
from os import path

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

from sklearn import metrics
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split 
from sklearn.metrics import classification_report

from sklearn.svm import SVC
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier

# **Importing Datasets**

In [2]:
pd.set_option('display.max_columns', None) #display all columns

In [3]:
# dtrain = pd.read_csv('./CSV/UNSW_NB15_testing-set.csv')
# dtest = pd.read_csv('./CSV/UNSW_NB15_training-set.csv')

d1 = pd.read_csv('./CSV/UNSW-NB15_1.csv')
d2 = pd.read_csv('./CSV/UNSW-NB15_2.csv')
d3 = pd.read_csv('./CSV/UNSW-NB15_3.csv')
d4 = pd.read_csv('./CSV/UNSW-NB15_4.csv')

# data = pd.concat([dtrain, dtest], ignore_index=True)

data = pd.concat([d1, d2, d3, d4], ignore_index=True)

C:\Users\hhi20\AppData\Local\Temp\ipykernel_50808\1494376972.py:4: DtypeWarning: Columns (1,3,47) have mixed types. Specify dtype option on import or set low_memory=False.
  d1 = pd.read_csv('./CSV/UNSW-NB15_1.csv')
C:\Users\hhi20\AppData\Local\Temp\ipykernel_50808\1494376972.py:5: DtypeWarning: Columns (3,39,47) have mixed types. Specify dtype option on import or set low_memory=False.
  d2 = pd.read_csv('./CSV/UNSW-NB15_2.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2540047 entries, 0 to 2540046
Data columns (total 49 columns):
 #   Column            Dtype
---  ------            -----
 0   srcip             object
 1   sport             object
 2   dstip             object
 3   dsport            object
 4   proto             object
 5   state             object
 6   dur               float64
 7   sbytes            int64
 8   dbytes            int64
 9   sttl              int64
 10  dttl              int64
 11  sloss             int64
 12  dloss             int64
 13  service           object
 14  Sload             float64
 15  Dload             float64
 16  Spkts             int64
 17  Dpkts             int64
 18  swin              int64
 19  dwin              int64
 20  stcpb             int64
 21  dtcpb             int64
 22  smeansz           int64
 23  dmeansz           int64
 24  trans_depth       int64
 25  res_bdy_len       int64
 26  Sjit              float64
 27  Djit              float64
 28  Stime             int64
 29  Ltime             int64
 30  Sintpkt           float64
 31  Dintpkt           float64
 32  tcprtt            float64
 33  synack            float64
 34  ackdat            float64
 35  is_sm_ips_ports   int64
 36  ct_state_ttl      int64
 37  ct_flw_http_mthd  float64
 38  is_ftp_login      float64
 39  ct_ftp_cmd        object
 40  ct_srv_src        int64
 41  ct_srv_dst        int64
 42  ct_dst_ltm        int64
 43  ct_src_ltm        int64
 44  ct_src_dport_ltm  int64
 45  ct_dst_sport_ltm  int64
 46  ct_dst_src_ltm    int64
 47  attack_cat        object
 48  label             int64
dtypes: float64(12), int64(28), object(9)
memory usage: 949.6+ MB

In [5]:
data['label'].value_counts()

label
0    2218764
1     321283
Name: count, dtype: int64

In [6]:
data.head(n=5)

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,dttl,sloss,dloss,service,Sload,Dload,Spkts,Dpkts,swin,dwin,stcpb,dtcpb,smeansz,dmeansz,trans_depth,res_bdy_len,Sjit,Djit,Stime,Ltime,Sintpkt,Dintpkt,tcprtt,synack,ackdat,is_sm_ips_ports,ct_state_ttl,ct_flw_http_mthd,is_ftp_login,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,label
0,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,29,0,0,dns,500473.93750,621800.93750,2,2,0,0,0,0,66,82,0,0,0.00000,0.000000,1421927414,1421927414,0.017,0.013000,0.0,0.0,0.0,0,0,0.0,0.0,0,3,7,1,3,1,1,1,NaN,0
1,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,29,0,0,-,87676.08594,50480.17188,4,4,0,0,0,0,132,76,0,0,9.89101,10.682733,1421927414,1421927414,7.005,7.564333,0.0,0.0,0.0,0,0,0.0,0.0,0,2,4,2,3,1,1,2,NaN,0
2,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,29,0,0,dns,521894.53130,636282.37500,2,2,0,0,0,0,73,89,0,0,0.00000,0.000000,1421927414,1421927414,0.017,0.013000,0.0,0.0,0.0,0,0,0.0,0.0,0,12,8,1,2,2,1,1,NaN,0
3,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,29,0,0,dns,436724.56250,542597.18750,2,2,0,0,0,0,66,82,0,0,0.00000,0.000000,1421927414,1421927414,0.043,0.014000,0.0,0.0,0.0,0,0,0.0,0.0,0,6,9,1,1,1,1,1,NaN,0
4,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,29,0,0,dns,499572.25000,609067.56250,2,2,0,0,0,0,73,89,0,0,0.00000,0.000000,1421927414,1421927414,0.005,0.003000,0.0,0.0,0.0,0,0,0.0,0.0,0,7,9,1,1,1,1,1,NaN,0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2540047 entries, 0 to 2540046
Data columns (total 49 columns):
 #   Column            Dtype
---  ------            -----
 0   srcip             object
 1   sport             object
 2   dstip             object
 3   dsport            object
 4   proto             object
 5   state             object
 6   dur               float64
 7   sbytes            int64
 8   dbytes            int64
 9   sttl              int64
 10  dttl              int64
 11  sloss             int64
 12  dloss             int64
 13  service           object
 14  Sload             float64
 15  Dload             float64
 16  Spkts             int64
 17  Dpkts             int64
 18  swin              int64
 19  dwin              int64
 20  stcpb             int64
 21  dtcpb             int64
 22  smeansz           int64
 23  dmeansz           int64
 24  trans_depth       int64
 25  res_bdy_len       int64
 26  Sjit              float64
 27  Djit              float64
 28  Stime             int64
 29  Ltime             int64
 30  Sintpkt           float64
 31  Dintpkt           float64
 32  tcprtt            float64
 33  synack            float64
 34  ackdat            float64
 35  is_sm_ips_ports   int64
 36  ct_state_ttl      int64
 37  ct_flw_http_mthd  float64
 38  is_ftp_login      float64
 39  ct_ftp_cmd        object
 40  ct_srv_src        int64
 41  ct_srv_dst        int64
 42  ct_dst_ltm        int64
 43  ct_src_ltm        int64
 44  ct_src_dport_ltm  int64
 45  ct_dst_sport_ltm  int64
 46  ct_dst_src_ltm    int64
 47  attack_cat        object
 48  label             int64
dtypes: float64(12), int64(28), object(9)
memory usage: 949.6+ MB

In [8]:
data[data['service']=='-']

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,dttl,sloss,dloss,service,Sload,Dload,Spkts,Dpkts,swin,dwin,stcpb,dtcpb,smeansz,dmeansz,trans_depth,res_bdy_len,Sjit,Djit,Stime,Ltime,Sintpkt,Dintpkt,tcprtt,synack,ackdat,is_sm_ips_ports,ct_state_ttl,ct_flw_http_mthd,is_ftp_login,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,label
1,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,29,0,0,-,87676.085940,5.048017e+04,4,4,0,0,0,0,132,76,0,0,9.891010,10.682733,1421927414,1421927414,7.005000,7.564333,0.000000,0.000000,0.000000,0,0,0.0,0.0,0,2,4,2,3,1,1,2,NaN,0
5,59.166.0.0,32119,149.171.126.9,111,udp,CON,0.078339,568,312,31,29,0,0,-,43503.234380,2.389614e+04,4,4,0,0,0,0,142,78,0,0,29.682221,34.370340,1421927414,1421927414,21.003000,24.315000,0.000000,0.000000,0.000000,0,0,0.0,0.0,0,2,4,2,3,1,1,2,NaN,0
7,10.40.182.3,0,10.40.182.3,0,arp,INT,0.000000,46,0,0,0,0,0,-,0.000000,0.000000e+00,1,0,0,0,0,0,46,0,0,0,0.000000,0.000000,1421927415,1421927415,0.000000,0.000000,0.000000,0.000000,0.000000,1,2,0.0,0.0,0,2,2,2,2,2,2,2,NaN,0
10,10.40.170.2,0,10.40.170.2,0,arp,INT,0.000000,46,0,0,0,0,0,-,0.000000,0.000000e+00,1,0,0,0,0,0,46,0,0,0,0.000000,0.000000,1421927415,1421927415,0.000000,0.000000,0.000000,0.000000,0.000000,1,2,0.0,0.0,0,2,2,2,2,2,2,2,NaN,0
11,10.40.170.2,0,10.40.170.2,0,arp,INT,0.000000,46,0,0,0,0,0,-,0.000000,0.000000e+00,1,0,0,0,0,0,46,0,0,0,0.000000,0.000000,1421927415,1421927415,0.000000,0.000000,0.000000,0.000000,0.000000,1,2,0.0,0.0,0,2,2,2,2,2,2,2,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2540028,175.45.176.0,17293,149.171.126.17,110,tcp,CON,0.942984,574,676,62,252,5,6,-,4470.913574,5.259898e+03,12,12,255,255,3026824982,3748412468,48,56,0,0,3903.523582,95.650531,1424262068,1424262069,79.714089,80.827180,0.139446,0.053884,0.085562,0,3,NaN,NaN,,2,1,2,4,2,2,2,Exploits,1
2540029,175.45.176.0,33654,149.171.126.12,80,tcp,CON,2.579405,269883,1300,62,252,103,1,-,833016.875000,3.898573e+03,208,30,255,255,183420721,3548597985,1298,43,1,0,1701.614470,138.857703,1424262066,1424262069,12.239136,86.655617,0.159923,0.066388,0.093535,0,3,2.0,NaN,,2,1,2,4,2,2,2,DoS,1
2540037,59.166.0.9,35433,149.171.126.0,80,tcp,CON,2.200934,3498,166054,31,29,2,57,-,12496.513670,5.983751e+05,58,116,255,255,1289728069,3436097151,60,1432,1,79745,2868.893137,1951.035944,1424262067,1424262069,38.609700,19.133826,0.000680,0.000541,0.000139,0,0,2.0,NaN,,1,1,2,4,2,2,2,NaN,0
2540038,59.166.0.4,59563,149.171.126.2,80,tcp,CON,1.616038,1626,60216,31,29,2,21,-,7687.937988,2.913199e+05,22,44,255,255,3559312905,1591848767,74,1369,1,28698,4791.249452,2883.850201,1424262067,1424262069,76.946571,37.571442,0.000579,0.000463,0.000116,0,0,2.0,NaN,,2,2,2,2,2,2,2,NaN,0
2540041,59.166.0.1,38606,149.171.126.9,80,tcp,CON,0.564998,14106,772406,31,29,2,262,-,198981.250000,1.091598e+07,262,526,255,255,162243658,163257853,54,1468,1,372266,116.321921,69.874077,1424262068,1424262069,2.123130,1.075171,0.000669,0.000530,0.000139,0,0,2.0,NaN,,2,1,4,2,2,2,2,NaN,0

In [9]:
data['service'].replace('-',np.nan,inplace=True)

In [10]:
data.isnull().sum()

srcip                     0
sport                     0
dstip                     0
dsport                    0
proto                     0
state                     0
dur                       0
sbytes                    0
dbytes                    0
sttl                      0
dttl                      0
sloss                     0
dloss                     0
service             1246397
Sload                     0
Dload                     0
Spkts                     0
Dpkts                     0
swin                      0
dwin                      0
stcpb                     0
dtcpb                     0
smeansz                   0
dmeansz                   0
trans_depth               0
res_bdy_len               0
Sjit                      0
Djit                      0
Stime                     0
Ltime                     0
Sintpkt                   0
Dintpkt                   0
tcprtt                    0
synack                    0
ackdat                    0
is_sm_ips_ports           0
ct_state_ttl              0
ct_flw_http_mthd    1348145
is_ftp_login        1429879
ct_ftp_cmd                0
ct_srv_src                0
ct_srv_dst                0
ct_dst_ltm                0
ct_src_ltm                0
ct_src_dport_ltm          0
ct_dst_sport_ltm          0
ct_dst_src_ltm            0
attack_cat          2218764
label                     0
dtype: int64

In [11]:
data.shape

(2540047, 49)

In [12]:
data.dropna(inplace=True)

In [13]:
data.shape

(10496, 49)

In [14]:
data['label'].value_counts()

label
1    10496
Name: count, dtype: int64

In [15]:
data['attack_cat'].value_counts()

attack_cat
Generic           7171
Exploits          2371
 Fuzzers           441
DoS                262
Reconnaissance     226
Worms               17
Backdoors            8
Name: count, dtype: int64

In [16]:
data['state'].value_counts()

state
INT    6991
FIN    3459
CON      40
REQ       6
Name: count, dtype: int64

In [17]:
data

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,dttl,sloss,dloss,service,Sload,Dload,Spkts,Dpkts,swin,dwin,stcpb,dtcpb,smeansz,dmeansz,trans_depth,res_bdy_len,Sjit,Djit,Stime,Ltime,Sintpkt,Dintpkt,tcprtt,synack,ackdat,is_sm_ips_ports,ct_state_ttl,ct_flw_http_mthd,is_ftp_login,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,label
21,175.45.176.2,23357,149.171.126.16,80,tcp,FIN,0.240139,918,25552,62,252,2,10,http,2.805042e+04,815794.187500,12,24,255,255,1708297952,1939490744,77,1065,1,12026,1170.481668,1144.383360,1421927416,1421927416,21.830818,9.570304,0.051475,0.006528,0.044947,0,1,1.0,0.0,0,3,2,2,1,1,1,1,Exploits,1
22,175.45.176.0,13284,149.171.126.16,80,tcp,FIN,2.390390,1362,268,254,252,6,1,http,4.233619e+03,749.668518,14,6,255,255,3897219059,2466816006,97,45,1,0,18786.711400,941.724938,1421927414,1421927416,183.579303,474.259406,0.066088,0.017959,0.048129,0,1,1.0,0.0,0,5,2,2,1,1,1,1,Reconnaissance,1
40,175.45.176.2,26939,149.171.126.10,80,tcp,FIN,0.190600,844,268,254,252,2,1,http,3.189927e+04,9401.888672,10,6,255,255,3006332195,1452987536,84,45,1,0,996.632407,59.532129,1421927418,1421927418,18.573778,36.845602,0.050675,0.006354,0.044321,0,1,1.0,0.0,0,3,1,1,1,1,1,1,Exploits,1
57,175.45.176.0,39500,149.171.126.15,80,tcp,FIN,0.177449,1214,268,254,252,2,1,http,4.927613e+04,10098.675780,10,6,255,255,366102997,2277661750,121,45,1,0,1020.236764,62.002961,1421927419,1421927419,19.203667,34.071199,0.051980,0.007076,0.044904,0,1,1.0,0.0,0,5,2,1,1,1,1,1,DoS,1
77,175.45.176.0,61089,149.171.126.18,80,tcp,FIN,0.291485,804,948,62,252,2,2,http,1.987066e+04,22779.902340,10,8,255,255,680695067,4039411526,80,119,1,72,1595.821133,57.742824,1421927421,1421927421,32.387222,39.581855,0.062967,0.013476,0.049491,0,1,1.0,0.0,0,5,2,1,1,1,1,1,Exploits,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172557,175.45.176.1,1043,149.171.126.18,53,udp,INT,0.000011,114,0,254,0,0,0,dns,4.145454e+07,0.000000,2,0,0,0,0,0,57,0,0,0,0.000000,0.000000,1421933839,1421933839,0.011000,0.000000,0.000000,0.000000,0.000000,0,2,0.0,0.0,0,7,7,7,7,7,3,7,Generic,1
172559,175.45.176.1,47439,149.171.126.18,53,udp,INT,0.000010,114,0,254,0,0,0,dns,4.560000e+07,0.000000,2,0,0,0,0,0,57,0,0,0,0.000000,0.000000,1421933839,1421933839,0.010000,0.000000,0.000000,0.000000,0.000000,0,2,0.0,0.0,0,7,7,7,7,7,4,7,Generic,1
172560,175.45.176.1,47439,149.171.126.18,53,udp,INT,0.000010,114,0,254,0,0,0,dns,4.560000e+07,0.000000,2,0,0,0,0,0,57,0,0,0,0.000000,0.000000,1421933839,1421933839,0.010000,0.000000,0.000000,0.000000,0.000000,0,2,0.0,0.0,0,7,7,7,7,7,4,7,Generic,1
183020,175.45.176.2,137,149.171.126.11,137,udp,INT,4.743202,8736,0,254,0,0,0,dns,1.460279e+04,0.000000,112,0,0,0,0,0,78,0,0,0,79.256563,0.000000,1421934294,1421934299,42.731551,0.000000,0.000000,0.000000,0.000000,0,2,0.0,0.0,0,1,1,1,1,1,1,1,Fuzzers,1
183021,175.45.176.2,137,149.171.126.11,137,udp,INT,4.743202,8736,0,254,0,0,0,dns,1.460279e+04,0.000000,112,0,0,0,0,0,78,0,0,0,79.256563,0.000000,1421934294,1421934299,42.731551,0.000000,0.000000,0.000000,0.000000,0,2,0.0,0.0,0,1,1,1,1,1,1,1,Fuzzers,1

In [18]:
#features = pd.read_csv('/content/drive/MyDrive/IoT_ML_Dataset/UNSW/UNSW_NB15_features.csv')
features = pd.read_csv('./CSV/NUSW-NB15_features.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x92 in position 1646: invalid start byte

In [ ]:
features.head()

:

In [ ]:
features['Type '] = features['Type '].str.lower()

:

In [ ]:
# selecting column names of all data types
nominal_names = features['Name'][features['Type ']=='nominal']
integer_names = features['Name'][features['Type ']=='integer']
binary_names = features['Name'][features['Type ']=='binary']
float_names = features['Name'][features['Type ']=='float']

:

In [ ]:
# selecting common column names from dataset and feature dataset
cols = data.columns
nominal_names = cols.intersection(nominal_names)
integer_names = cols.intersection(integer_names)
binary_names = cols.intersection(binary_names)
float_names = cols.intersection(float_names)

:

In [ ]:
# Converting integer columns to numeric
for c in integer_names:
  pd.to_numeric(data[c])

:

In [ ]:
# Converting binary columns to numeric
for c in binary_names:
  pd.to_numeric(data[c])

:

In [ ]:
# Converting float columns to numeric
for c in float_names:
  pd.to_numeric(data[c])

:

In [ ]:
data.info()

:

In [ ]:
data

:

# **Data Visualization**

## **Binary Classification**

In [ ]:
data['label'].value_counts()

:

In [ ]:
# plt.figure(figsize=(8,8))
# plt.pie(data['label'].value_counts(),labels=['normal','abnormal'],autopct='%0.2f%%')
# plt.title("Pie chart distribution of normal and abnormal labels",fontsize=16)
# plt.legend()
# plt.savefig('plots/Pie_chart_binary.png')
# plt.show()

:

## **Multi-class Classification**

In [ ]:
plt.figure(figsize=(8,8))
plt.pie(data.attack_cat.value_counts(),labels=data.attack_cat.unique(),autopct='%0.2f%%')
plt.title('Pie chart distribution of multi-class labels')
plt.legend(loc='best')
plt.savefig('plots/Pie_chart_multi.png')
plt.show()

:

# **One hot encoding**

In [ ]:
num_col = data.select_dtypes(include='number').columns

# selecting categorical data attributes
cat_col = data.columns.difference(num_col)
cat_col = cat_col[1:]
cat_col

:

In [ ]:
# creating a dataframe with only categorical attributes
data_cat = data[cat_col].copy()
data_cat.head()

:

In [ ]:
# one-hot-encoding categorical attributes using pandas.get_dummies() function
data_cat = pd.get_dummies(data_cat,columns=cat_col)

:

In [ ]:
data_cat.head()

:

In [ ]:
data.shape

:

In [ ]:
data = pd.concat([data, data_cat],axis=1)

:

In [ ]:
data.shape

:

In [ ]:
data.drop(columns=cat_col,inplace=True)

:

In [ ]:
data.shape

:

# **Data Normalization**

In [ ]:
# selecting numeric attributes columns from data
num_col = list(data.select_dtypes(include='number').columns)
# num_col.remove('id')
num_col.remove('label')
print(num_col)

:

In [ ]:
# using minmax scaler for normalizing data
minmax_scale = MinMaxScaler(feature_range=(0, 1))
def normalization(df,col):
  for i in col:
    arr = df[i]
    arr = np.array(arr)
    df[i] = minmax_scale.fit_transform(arr.reshape(len(arr),1))
  return df

:

In [ ]:
# data before normalization
data.head()

:

In [ ]:
num_col

:

In [ ]:
# calling normalization() function
data = normalization(data.copy(),num_col)

:

In [ ]:
# data after normalization
data.head()

:

# **Label Encoding**

## **Binary Labels**

In [ ]:
# changing attack labels into two categories 'normal' and 'abnormal'
bin_label = pd.DataFrame(data.label.map(lambda x:'normal' if x==0 else 'abnormal'))

:

In [ ]:
# creating a dataframe with binary labels (normal,abnormal)
bin_data = data.copy()
bin_data['label'] = bin_label

:

In [ ]:
# label encoding (0,1) binary labels
le1 = preprocessing.LabelEncoder()
enc_label = bin_label.apply(le1.fit_transform)
bin_data['label'] = enc_label

:

In [ ]:
le1.classes_

:

In [ ]:
np.save("le1_classes.npy",le1.classes_,allow_pickle=True)

:

## **Multi-class Labels**

In [ ]:
# one-hot-encoding attack label
multi_data = data.copy()
multi_label = pd.DataFrame(multi_data.attack_cat)

:

In [ ]:
multi_data = pd.get_dummies(multi_data,columns=['attack_cat'])

:

In [ ]:
# label encoding (0,1,2,3,4,5,6,7,8) multi-class labels
le2 = preprocessing.LabelEncoder()
enc_label = multi_label.apply(le2.fit_transform)
multi_data['label'] = enc_label

:

In [ ]:
le2.classes_

:

In [ ]:
np.save("le2_classes.npy",le2.classes_,allow_pickle=True)

:

# **Correlation between features of dataset**

In [ ]:
num_col.append('label')

:

## **Correlation Matrix for Binary Labels**

In [ ]:
# Correlation Matrix for Binary Labels
plt.figure(figsize=(20,8))
corr_bin = bin_data[num_col].corr()
sns.heatmap(corr_bin,vmax=1.0,annot=False)
plt.title('Correlation Matrix for Binary Labels',fontsize=16)
plt.savefig('plots/correlation_matrix_bin.png')
plt.show()

:

## **Correlation Matrix for Multi-class Labels**

In [ ]:
num_col = list(multi_data.select_dtypes(include='number').columns)

:

In [ ]:
# Correlation Matrix for Multi-class Labels
plt.figure(figsize=(20,8))
corr_multi = multi_data[num_col].corr()
sns.heatmap(corr_multi,vmax=1.0,annot=False)
plt.title('Correlation Matrix for Multi Labels',fontsize=16)
plt.savefig('plots/correlation_matrix_multi.png')
plt.show()

:

# **Feature Selection**

## **Binary Labels**

In [ ]:
# finding the attributes which have more than 0.3 correlation with encoded attack label attribute 
corr_ybin = abs(corr_bin['label'])
highest_corr_bin = corr_ybin[corr_ybin >0.3]
highest_corr_bin.sort_values(ascending=True)

:

In [ ]:
# selecting attributes found by using pearson correlation coefficient
bin_cols = highest_corr_bin.index
bin_cols

:

In [ ]:
# Binary labelled Dataset
bin_data = bin_data[bin_cols].copy()
bin_data

:

### **Saving Prepared Dataset to Disk**

In [ ]:
bin_data.to_csv('./datasets/bin_data.csv')

:

## **Multi-class Labels**

In [ ]:
# finding the attributes which have more than 0.3 correlation with encoded attack label attribute 
corr_ymulti = abs(corr_multi['label'])
highest_corr_multi = corr_ymulti[corr_ymulti >0.3]
highest_corr_multi.sort_values(ascending=True)

:

In [ ]:
# selecting attributes found by using pearson correlation coefficient
multi_cols = highest_corr_multi.index
multi_cols

:

In [ ]:
# Multi-class labelled Dataset
multi_data = multi_data[multi_cols].copy()
multi_data

:

### **Saving Prepared Dataset to Disk**

In [ ]:
multi_data.to_csv('./datasets/multi_data.csv')

:

# **BINARY CLASSIFICATION**

## **Data Splitting**

In [ ]:
X = bin_data.drop(columns=['label'],axis=1)
Y = bin_data['label']

:

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.20, random_state=50)

:

## **Multi Layer Perceptron**

In [ ]:
mlp_bin = MLPClassifier(random_state=123, solver='adam', max_iter=8000)

:

In [ ]:
mlp_bin.fit(X_train,y_train)

:

In [ ]:
y_pred = mlp_bin.predict(X_test)

:

In [ ]:
print("Mean Absolute Error - " , metrics.mean_absolute_error(y_test, y_pred))
print("Mean Squared Error - " , metrics.mean_squared_error(y_test, y_pred))
print("Root Mean Squared Error - " , np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print("R2 Score - " , metrics.explained_variance_score(y_test, y_pred)*100)
print("Accuracy - ",accuracy_score(y_test,y_pred)*100)

:

In [ ]:
cls_report= classification_report(y_true=y_test, y_pred=y_pred,target_names=le1.classes_)
print(cls_report)

:

### **Real and Predicted Data**

In [ ]:
mlp_bin_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
mlp_bin_df.to_csv('./predictions/mlp_real_pred_bin.csv')
mlp_bin_df

:

### **Plot between Real and Predicted Data**

In [ ]:
plt.figure(figsize=(20,8))
plt.plot(y_pred[100:200], label="prediction", linewidth=2.0,color='blue')
plt.plot(y_test[100:200].values, label="real_values", linewidth=2.0,color='lightcoral')
plt.legend(loc="best")
plt.title("MLP Binary Classification")
plt.savefig('plots/mlp_real_pred_bin.png')
plt.show()

:

### **Saving Trained Model to Disk**

In [ ]:
pkl_filename = "./models/mlp_binary.pkl"
if (not path.isfile(pkl_filename)):
  # saving the trained model to disk 
  with open(pkl_filename, 'wb') as file:
    pickle.dump(mlp_bin, file)
  print("Saved model to disk")
else:
  print("Model already saved")

:

# **MULTI-CLASS CLASSIFICATION**

## **Data Splitting**

In [ ]:
X = multi_data.drop(columns=['label'],axis=1)
Y = multi_data['label']

:

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.30, random_state=100)

:

## **Multi Layer Perceptron**

In [ ]:
mlp_multi = MLPClassifier(random_state=123, solver='adam', max_iter=8000)
mlp_multi.fit(X_train,y_train)

:

In [ ]:
y_pred = mlp_multi.predict(X_test)

:

In [ ]:
print("Mean Absolute Error - " , metrics.mean_absolute_error(y_test, y_pred))
print("Mean Squared Error - " , metrics.mean_squared_error(y_test, y_pred))
print("Root Mean Squared Error - " , np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print("R2 Score - " , metrics.explained_variance_score(y_test, y_pred)*100)
print("Accuracy - ",accuracy_score(y_test,y_pred)*100)

:

In [ ]:
print(classification_report(y_test, y_pred,target_names=le2.classes_))

:

### **Real and Predicted Data**

In [ ]:
mlp_multi_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
mlp_multi_df.to_csv('./predictions/mlp_real_pred_multi.csv')
mlp_multi_df

:

### **Plot between Real and Predicted Data**

In [ ]:
plt.figure(figsize=(20,8))
plt.plot(y_pred[100:300], label="prediction", linewidth=2.0,color='blue')
plt.plot(y_test[100:300].values, label="real_values", linewidth=2.0,color='lightcoral')
plt.legend(loc="best")
plt.title("MLP Multi-class Classification")
plt.savefig('plots/mlp_real_pred_multi.png')
plt.show()

:

### **Saving Trained Model to Disk**

In [ ]:
pkl_filename = "./models/mlp_multi.pkl"
if (not path.isfile(pkl_filename)):
  # saving the trained model to disk 
  with open(pkl_filename, 'wb') as file:
    pickle.dump(mlp_multi, file)
  print("Saved model to disk")
else:
  print("Model already saved")

:

## Convolutional Nueral Network (CNN)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, Conv1D, Flatten, MaxPooling1D, Dropout
from keras.utils import to_categorical
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

# Prepare the dataset
X = multi_data.drop(columns=['label'], axis=1)
Y = multi_data['label']
Y_categorical = to_categorical(Y)
X_train, X_test, y_train, y_test = train_test_split(X, Y_categorical, test_size=0.30, random_state=100)

# Reshape X_train and X_test for CNN
X_train_reshaped = X_train.values.reshape(X_train.shape[0], X_train.shape[1], 1)
X_test_reshaped = X_test.values.reshape(X_test.shape[0], X_test.shape[1], 1)

# Define the CNN model
model = Sequential()
model.add(Conv1D(32, kernel_size=3, activation='relu', input_shape=(X_train_reshaped.shape[1], 1)))
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(64, kernel_size=3, activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(y_train.shape[1], activation='softmax'))

# Compile the model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

# Fit the model
model.fit(X_train_reshaped, y_train, epochs=10, batch_size=64, validation_split=0.2)

# Evaluate the model
y_pred_categorical = model.predict(X_test_reshaped)
y_pred = np.argmax(y_pred_categorical, axis=1)
y_test_labels = np.argmax(y_test, axis=1)
print(classification_report(y_test_labels, y_pred))

:

In [ ]:
# from keras.models import Sequential
# from keras.layers import Dense, Conv1D, MaxPooling1D, Flatten, Dropout, LeakyReLU, Reshape
# from keras.utils import to_categorical
# from sklearn.model_selection import train_test_split
# import numpy as np
# import pandas as pd
# from sklearn.metrics import classification_report

# # Prepare the dataset
# X = multi_data.drop(columns=['label'], axis=1)
# Y = multi_data['label']
# Y_categorical = to_categorical(Y)
# X_train, X_test, y_train, y_test = train_test_split(X, Y_categorical, test_size=0.30, random_state=100)

# # Reshape X_train and X_test for CNN
# X_train_reshaped = X_train.values.reshape(X_train.shape[0], X_train.shape[1], 1)
# X_test_reshaped = X_test.values.reshape(X_test.shape[0], X_test.shape[1], 1)

# # Define the CNN model
# model = Sequential()

# # Add the layers as specified
# model.add(Conv1D(16, kernel_size=3, strides=1, input_shape=(X_train_reshaped.shape[1], 1)))
# model.add(LeakyReLU(alpha=0.1))
# model.add(MaxPooling1D(pool_size=1, strides=1))

# model.add(Conv1D(32, kernel_size=3, strides=1))
# model.add(LeakyReLU(alpha=0.1))
# model.add(MaxPooling1D(pool_size=1, strides=1))

# model.add(Conv1D(64, kernel_size=3, strides=1))
# model.add(LeakyReLU(alpha=0.1))
# model.add(MaxPooling1D(pool_size=1, strides=1))

# model.add(Conv1D(128, kernel_size=3, strides=1))
# model.add(LeakyReLU(alpha=0.1))
# model.add(MaxPooling1D(pool_size=1, strides=1))

# model.add(Conv1D(128, kernel_size=3, strides=1))
# model.add(LeakyReLU(alpha=0.1))
# model.add(MaxPooling1D(pool_size=1, strides=1))

# # Dense Layer
# model.add(Flatten())
# model.add(Dense(128, activation='linear'))

# # Continue adding layers as specified
# model.add(Reshape((128, 1)))  # Necessary for applying Conv1D after Dense layer
# model.add(Conv1D(256, kernel_size=3, strides=1))
# model.add(LeakyReLU(alpha=0.1))
# model.add(MaxPooling1D(pool_size=1, strides=1))

# model.add(Conv1D(512, kernel_size=3, strides=1))
# model.add(LeakyReLU(alpha=0.1))
# model.add(MaxPooling1D(pool_size=1, strides=1))

# model.add(Conv1D(1024, kernel_size=3, strides=1))
# model.add(LeakyReLU(alpha=0.1))
# model.add(MaxPooling1D(pool_size=1, strides=1))

# # Another Dense Layer
# model.add(Flatten())
# model.add(Dense(1024, activation='linear'))

# # Last Convolutional Layer
# model.add(Reshape((1024, 1)))
# model.add(Conv1D(64, kernel_size=3, strides=1))
# model.add(LeakyReLU(alpha=0.1))

# # Flatten and Dropout
# model.add(Flatten())
# model.add(Dropout(0.1))

# # Output Layer
# model.add(Dense(y_train.shape[1], activation='softmax'))

# # Compile the model
# model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

# # Fit the model
# model.fit(X_train_reshaped, y_train, epochs=10, batch_size=64, validation_split=0.2)

# # Evaluate the model
# y_pred_categorical = model.predict(X_test_reshaped)
# y_pred = np.argmax(y_pred_categorical, axis=1)
# y_test_labels = np.argmax(y_test, axis=1)
# print(classification_report(y_test_labels, y_pred))

:

: